<doctype html>
<html>
<head>
<meta charset="iso-8859-7">
<meta name="description" content="Voitea">
<meta name="keywords" content="HTML, CSS, JavaScript">
<title>Footer</title>
</head>
<body>
    <footer id="pieprincipal">
        <h1> <strong> Contactanos </strong></h1>

        <p> Voitea  © 2019. Derechos Reservados </p>
    </footer>
</body>
</html>
