    <footer id="pieprincipal">
        <h1> <strong> Saber Más </strong></h1>
        <h2> Visita nuestras Redes Sociales </h2>
        <li> Redes </li>
        <p> Facebook </p>
        <p> Twitter </p>
        <p>  </p>
        <p> Voitea  © 2019. Derechos Reservados </p>
    </footer>
