<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ingresar Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/diseñoIndex.css">
  </head>
  <body>
    <br>
    <div class="contenedorInicio">
      <div class="descripcionProyecto">
        <p>
          Aplicativo web de consultoria legal gratuita, para todas las personas
          que necesiten una ayuda rápida, eficiente y de calidad en sus problemas
          jurídicos y que no tengan los recursos necesarios para contratar un
          especialista, las personas expondrán sus casos en la plataforma y
          quedarán a la espera a que algún asesor (abogado y/o estudiante) tome
           el caso de acuerdo a su experiencia y conocimientos. Al asesor se le
           notificarán los casos disponibles y decidirá que caso tomar. Luego
           se creará un canal de comunicación entre el usuario y el asesor, para
            realizar la consultoria, al finalizar la asesoría el usuario dará
             una calificación de acuerdo a la utilidad de la información
             proporcionada por el asesor.
        </p>
      </div>
      <div class="ingresoUsuario">
        <center>
          <form class="login" action="index.html" method="get">
              <p>Nombre Usuario: <input type="text" name="nombreUsuario" value=""> </p>
              <br>
              <p>Contraseña: <input type="text" name="contrasenaUsuario" value=""></p>
              <br>
              <center><input type="submit" name="enviarDatos" value="Ingresar"></center>
          </form>
        </center>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
